* {	
	margin: 0;
	font-family: helvetica;
}
body {
	background-color: #FAFAFA
}
.nav__link {
	display: inline-block;
	font-weight: bold;
}
.icon {
	width: 50px;
	object-fit: contain;
}
a {
	text-decoration: none;
	color: black;
	margin: 10px;
}
.form__card {
	display: none;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 20px;
	align-items: center;
	width: 350px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 8px;
	transition: 1s;
	background-color: white;
}
form {
	text-align: center;
}